

<div>

    <div class="flex justify-center">
        <span class="italic text-lg text-slate-300" id="footText">CrozierCreative Powered By</span>
    </div>

    <div class="flex justify-between items-center grow">
        @*imageOne starts from left*@
        <img src="./Images/tailwindcss.svg" id="imageOne" class="h-8 " />
        @*imageTwo stays static middle*@
        <img src="./Images/raspi.svg" id="imageTwo" class="h-10 " />
        @*imageThree starts from right*@
        @*blazor.svg seems smaller in general, giving it a larger "h" utility*@
        <img src="./Images/blazor.svg" id="imageThree" class="h-14 pb-2" />
    </div>

</div>


@code {

}
